.loader-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Toastify__toast {
    font-family: 'IRANSans' !important;
    width: 400px;
    direction: rtl;
}